<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}" />
</head>

<body>
    <img id="background_image" src=" {{ background_image }}" alt="">
    <style>
        #background_image{
          z-index: -10;
          position: absolute;
          max-height: 100%;
          width: 1024px;
          margin: 0;
          padding: 0;
        }
    </style>
  <div class="logotipo">
    <img src="../static/logotipo_rpg.jpg" alt="">
    </div>
  <div class="blackbox">
  <h1>Bem vindo criador!</h1>
  <h2>Aqui você poderá criar sua própria aventura RPG</h2>
  

    <div class="Settings">
      <label for="background_image">Primeiramente, escolha o tema de fundo da sua aventura:</label>
      <div class="form-image">
    <form id="background_form">
      <input type="text" name="background_image" id="background_text" placeholder="Ex: aldeia feudal" required />
      <button id="generate-background-button">Generate Background</button>
    </form>
  </div>

    </div>


    <div class="personSelect">
      <h3>Agora, descreva fisicamente seu personagem, para que seja criada a aparencia dele:</h3>
      <div class="person">
      <div class="form">
        <form id="character-form">
          <input id="character_text" type="text" name="character_text" placeholder="Ex: Guerreiro com armadura dourada">
          <button id="generate-character-button">Generate Character</button>
        </form>
    </div>
      <div class="image">
        <img id="character-image" src=" {{ character_image }}" alt="">
      </div>
  </div>
  </div>
  <form action="/" method="post">
    <h3>Comece sua aventura:</h3>
      <input  type="text" name="adventure" placeholder="Escolha seu nome e descreva a aventura!" required />
    
    <button>Generate adventure</button>
  </form>
</div>
<script src="../static/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>